 <html>
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
   </head>
   <body>
     <p>
       <%=@post.name%>
     </p>
     <p>
       <%=@post.content%>
     </p>

     <form method="POST" action="/posts/<%=@post.id%>">
       <input id="hidden" type="hidden" name="_method" value="patch">
       <p>
         Post Name: <input type="text" id="name" name="post[name]">
       </p>
       <p>
         Post Content: <input type="text" id="content" name="post[content]">
       </p>
       <input type="submit" id="submit" name="submit">
     </form>
   </body>
 </html>
